* {

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	cursor: pointer;
  
}
.restodepagina{
  background-color:rgba(243, 237, 227, 0.349);}
.fondobloque{ 
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
  z-index: -100;}
.boton{
  width: 100%;
   display: block;
   padding: 15px;
   background-color: rgba(0, 0, 0, 0.562);
   color: #fff;
   text-decoration: none;
   font-weight: bold;
   font-size: 2vh;
   box-sizing: border-box;
   position: relative;
   margin: auto;
   border-radius: 5px 5px 5px 5px;
   text-align: center;
}
body{
  margin:0;
	padding:0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100vh;
   max-width: 100vw;
   
   
    display: flex;
    flex-direction: column;
}
header{
    position: fixed;
   max-width: 100vw;
    height: 10vh;
    background-color: black;
    z-index: 1000;
}
main{
    position: relative;
    top: 10vh;
    max-width: 100vw;
}
.sectionprincipal{
  width: 100%;
   margin: auto;
  min-height: 90vh;
 
 overflow: hidden;
}

footer{
    max-width: 100vw;
    min-height: 10vh;
    background-color: indigo;
}
.header{
    position: relative;
    height: 100%;
    background-color: black;
    width: 100vw;
    display: flex;
    flex-direction: row;
    animation-duration: 3s;                    
    animation-name: cabeceroabajo; 
   
}
#divcontenedorcabecero{
    width: 100%;
    display: flex;
    flex-direction: row;
}
#divheaderimg{
    height: 100%;
    width: 9vh;
    display: flex;
    align-items: center;
}
#divheaderimg img{
    height: 90%;
    width: 9vh;
    
}
#divheadertitulo{
    width: calc(100% - 18vh);
    
    display: flex;
    align-items: center;
}
#divheadertitulo h1{
   
    font-size: 4vh;
    font-style: italic;
    margin: auto;
    color: whitesmoke;
    text-align: center;
  
}
#divheadermenu{
    height: 100%;
    width: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cabecerobotonmenu{
    margin-left: 1.5vh;     
    font-size: 6vh;
    color: whitesmoke;
    text-decoration: none;
    display: flex; }

    .navmenu,.navmenu5,.navmenu51,.navmenu52{
        right: -100%;
        display: flex;
        flex-direction: column;
         justify-content: space-around;
         width:100vw;
         height:90vh;
         margin:0;
         position: fixed;
         z-index: 100;
         top: 10vh;
         background-color: rgb(49, 49, 49);
         
        
         
     }
     .navmenu5{
      justify-content: flex-start;
      
       
   }
   .navmenu51,.navmenu52{
     background-color:transparent;
     height: 60vh;
     top: 30vh;
   }
   #volver1{
    height: 5vh
    ;
   }
       
     
 #listamenus,#listamenus5,#listamenus51,#listamenus52{
     padding: 0;
     height: 70%;
     display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
   }
   #listamenus5{
     height: 20%;
   }
 #listamenus li,#listamenus5 li,#listamenus51 li,#listamenus52 li{
     display: flex;
     justify-content: center
 }
 #listamenus li a{
     text-align: center;
 }
 #listamenus5 li a,#listamenus51 li a,#listamenus52 li a{text-align: left;}
    .navpie01,.navpie011{
         
         display:block;
         float:none;
         border-bottom:1px solid white;
         text-align: right;
         color: white;
         font-style: normal;
         text-decoration: none;
         height: auto;
        
         width: 80%;
         letter-spacing: .2em;
         font-size: 2.5vh;
     }
     .navpie011{
       width: 80%;
     }
     .iconosredes{
       padding: 0;
         display:flex;/*justificar ancho*/
         justify-content: space-around;;/*justificar ancho*/
         align-items: center;/*justificar alto*/
        
     }
     .iconosredes li{
         
         display:block;
         float:left;
         
 
     }
     .navpie1  {
         text-decoration: none;
         padding:2px 2px;
         color:white;
         font-size: 3vh;
         
     }
     #footer{
        bottom: 0px;
        width: 100%;
       display: flex;
       flex-direction: column;
        align-items: center;
        background-color: black; 
    }
    .primeralinea{width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    padding: 5px;}
    .iconosredess{
      list-style: none;
    }
    .iconosredess {
    display: flex;
    width: 100%;
    justify-content: space-around;
        align-items: center;
        
    }
    
    #imagenfooter{
     
    display: flex;
      height: 5vh;
      padding: 5px;
      flex-direction: column;
      align-items: center;
    }
    #textofooter{
      margin: 10px;
    }
    #textofooter p{
      font-size:2vh;
      width:100%;
      text-align: center;
      color: aliceblue;
      margin: auto;
    }
@media screen and (min-width:1023px )and (orientation: landscape) {
.controlnavmenuu{right: -100vw;}
#volver1{display: none;}
header{height: 14vh;
    
}
.navmenu5{
 
   top: auto;
  }
  .navmenu51,.navmenu52{top: 30vh;}
.header{
    flex-direction: column;

}

main{top: 14vh;}
#divheadertitulo h1{font-size: 6vh;
 }
 #divheaderimg{
    height: 100%;
    width: 9vh;
    display: flex;
    align-items: center;
    margin-left: 5vw;
}
#divheaderimg img{
    height: 90%;
    width: 9vh;
    
}
#divheadertitulo{
    width: calc(100% - 30vh);
    
    display: flex;
    align-items: center;
}


#divcontenedorcabecero{
    height: 10vh;
}
#divcontenedornav{
   
    height: 4vh;
}
.navmenu{
    right: 0;
    height: 4vh;
    align-items: center;
   
    
}
#listamenus{
    display: flex;
    margin: 0;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
}

.navpie01{padding: 0;
    border-bottom: none;
    font-size: 2vh;}
    #listamenus li{width: auto; align-items: center;}
    #listamenus li a{
        align-items: center;width:auto ;
    }  

    #divheadermenu {
        
        display: none;
       }
       .iconosredes{
           position: absolute;
           width: 20vw;
           top: -10vh ;
            right: 0;
}
}
@keyframes cabeceroabajo {
    0%{top: -190px;}
    40% {}
    50%{top: 0px;}
    60%{top: 5px;}
    70%{top: 0px; }
    80%{top: 3px;}
    90%{ top:0px;}
    95%{top: 1px;}
    100% {top: 0px;} }
    .js-scroll {
        opacity: 0;
        transition: opacity 500ms;
      }
      
      .js-scroll.scrolled {
        opacity: 1;
      }
      .scrolled.fade-opacidad {
        animation:opacidad 2s ease-in-out both;
      }
      @keyframes opacidad {
        from {
          opacity: 0;
        }
      
        to {
         opacity: 1;
        }
      }
      .scrolled.fade-derecha {
        animation: slide-in-right 1s ease-in-out both;
      }
      @keyframes slide-in-right {
        0% {
          -webkit-transform: translateX(100px);
          transform: translateX(100px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
          opacity: 1;
        }
    
      }
      .scrolled.fade-abajo {
        animation: slide-in-down 1s ease-in-out both;
      }
      @keyframes slide-in-down {
        0% {
          -webkit-transform: translatey(100px);
          transform: translatey(100px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translatey(0);
          transform: translatey(0);
          opacity: 1;
        }
    
      }
     
 

 
/*.boton-subir,
.politicas-cookie{
 position: fixed;
 z-index: 100000;
}

.politicas-cookie{
 display: none;
 background: #0F2027;
 background-color: rgba(0, 0, 0, 0.308);
 position: relative;
 right: 0;
 bottom: 0;
 left: 0;
 padding:  10px;
 height: 98vh;
}
.info-cookie{
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
 display: flex;
 align-items: center;
 flex-wrap: wrap;
 justify-content: center;
 color:  #fff;
 font-size: 1.2em;
 margin-bottom: 0;
 margin-top: 0;
}
.link-politica-cookie{
 color: #fff;
 margin:  0 5px;
}
.boton-cookie{
 display: flex;
 color: #fff;
 background: #FF91A6;
 border-radius: 15px;
 margin-left: 5px;
 padding: 4px 10px;
 text-decoration: none;
 transition: .5s;
}
.boton-cookie:hover{
 background: #F95977;
}*/
.aviso-cookies {
	display: none;
	background: #fff;
	padding: 20px;
	width: calc(100% - 60px);
	transform: translate(-50%,-50%);
	line-height: 150%;
	border-radius: 10px;
	position: fixed;
	bottom: 20px;
	left: 50%;
	z-index: 100;
	padding-top: 60px;
	box-shadow: 0px 2px 20px 10px rgba(222,222,222,.25);
	text-align: center;
}
#aviso-cookies2{height:calc(100% - 40px);
		background-color: aqua;
	
}

.aviso-cookies.activo {
	display: block;
}

.aviso-cookies .galleta {
	max-width: 100px;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

.aviso-cookies .titulo,
.aviso-cookies .parrafo {
	margin-bottom: 15px;
}

.aviso-cookies .boton {
	width: 100%;
	background: #595959;
	border: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 15px 20px;
	font-weight: 700;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 5px;
	margin-bottom: 15px;
	font-size: 14px;
}

.aviso-cookies .boton:hover {
	background: #000;
}

.aviso-cookies .enlace {
	color: #4DBFFF;
	text-decoration: none;
	font-size: 14px;
}

.aviso-cookies .enlace:hover {
	text-decoration: underline;
}

.fondo-aviso-cookies {
	display: none;
	background: rgba(0,0,0,.20);
	position: fixed;
	z-index: 99;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}


.fondo-aviso-cookies.activo {
	display: block;
}
#contenedor-botontab{
	list-style: none;
	display: flex;
	flex-direction: row;
	height: 5vh;
	margin-bottom: 15px;
}
#contenedor-botontab li{
	width: 100%;
	height: 100%;
}
.botontab{width: 100%;
	height: 100%;}
	#btn-tab1-cookies{
	background-color: bisque;
}
#btn-tab2-cookies{
	background-color: rgb(255, 196, 232);
}
#btn-tab3-cookies{
	background-color: rgb(196, 255, 216);
}

/*gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg*/

#contenedor-seleccion-cookies.activo {
	display: block;
}
#contenedor-seleccion-cookies{
    display: none;
    background-color:#ffffff;
    border-radius:8px;
    box-shadow:0 32px 68px rgba(0,0,0,.3);
    box-sizing:border-box;
    color:#141414;
    font-family:sans-serif;
    font-size:15px;
    left:50%;
    letter-spacing:.1px;
    line-height:24px;
    max-height:calc(100% - 16px);
        overflow:hidden;
        position:fixed;
        text-align:initial;
            top:50%;transform:translate(-50%,-50%);
            animation-duration: 2s;                    
            animation-name: opacidad-left3;
    width:calc(100% - 16px);
    z-index:2147483631;
  /*  height: calc(100% - 32px);*/
}

#contenedor-seleccion-cookies-2{
   width: 100%;
height: 100%;
}
#cabecero-cookie{
    align-items: center;
    border-bottom: 1px solid #D6D6D6;
    display: flex;
    padding: 1em;
   justify-content: center;
}
#navegador1-cookie{
    
  overflow-x: scroll;
  border-bottom: 1px solid #D6D6D6;
}

#navegador1-cookie::-webkit-scrollbar {
    display: none;
  }
#navegador1-cookie-ul{
    margin: 0px;
   
    padding-inline-start: 0px;
    list-style:none;
    display: flex;
   
   
    flex-direction: row;
    width: auto;
   
}
.navegador1-cookie-ul-item {
    border-bottom: 1px solid transparent;
    display: list-item;
   
    padding: 10px;width: auto;
}
.navegador1-cookie-ul-item a{
    width: max-content;
    display: block;
    color: black;
    text-align: justify;padding: 10px;
text-decoration: none;}

#tablero-cookie{padding: 1px;
}
#tablero-cookie-consentimiento{
    overflow: scroll;
}

.tablero-cookie-consentimiento-texto{height:  20vh;
overflow: scroll;
margin: 10px;
}
.tablero-cookie-consentimiento-texto.solotexto{height:  35vh;
    
    }

#tablero-cookie-consentimiento-texto p,h2{padding: 5px;margin :5px}
.consentimiento-botones-lineaboton{

    padding: 20px;
   
    display: flex;
flex-direction: column;
justify-content: space-between}

#tablero-cookie-consentimiento-botones{
    
    height:  15vh;

}
.botonfondoazul{background-color: #1032CF;
color: whitesmoke;}
button{
    background-color: transparent;
    border: 2px solid #1032CF;
    border-radius: 0.25em;
    color: #141414;
    display: flex;
    font-weight: 600;
    justify-content: center;
    padding: 1em;
    user-select: none;
    width: 100%;
    margin-bottom: 5px;
}
#tablero-cookie-consentimiento-footer{padding: 1em}
.navegador1-cookie-ul-item.itemclic{
    border-bottom: 1px solid #1032CF;
}
#tablero-cookie-consentimiento-solotexto{display: none;
height: 35vh;}
#tablero-cookie-consentimiento-listado{display: none;
}
#tablero-cookie-consentimiento-listado ul{
    list-style: none;
    padding: 0px;
}
#tablero-cookie-consentimiento-listado ul p{
   padding: 10px;
   margin: 0px;
   border-bottom: 1px solid #1032CF;
}
/*sliiider*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #1032CF;;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #1032CF;;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /*fin sliderrrr*/
  @keyframes opacidad-left3 {
    0%{opacity: 0;
    left: -50%;}
    
    100% {opacity: 1;left: 50%;
    } }
    @keyframes opacidad-left-desaparecer3 {
        0%{opacity: 1;
        left: +50%;}
        
        100% {opacity: 0;left: -50%;
        } }