

#otro
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html-f
RewriteRule ^(.*)$ $1.html

#prevenir acceso a los archivos .htaccess

<files .htaccess>

order allow,deny

deny from all

</files>
#evita el hotlink

RewriteEngine on

RewriteCond %{HTTP_REFERER} !^$

RewriteCond %{HTTP_REFERER} !^http://(www\.)?tudominio\.com/.*$ [NC]

RewriteRule .*\.(jpg|gif|bmp|png|mp4)$ [L]